
CodeExercise1/bin/Debug/netcoreapp3.0/CodeExercise1.deps.json
CodeExercise1/bin/Debug/netcoreapp3.0/CodeExercise1.dll
CodeExercise1/bin/Debug/netcoreapp3.0/CodeExercise1.exe
CodeExercise1/bin/Debug/netcoreapp3.0/CodeExercise1.pdb
CodeExercise1/bin/Debug/netcoreapp3.0/CodeExercise1.runtimeconfig.dev.json
CodeExercise1/bin/Debug/netcoreapp3.0/CodeExercise1.runtimeconfig.json
CodeExercise1/obj/CodeExercise1.csproj.nuget.cache
CodeExercise1/obj/CodeExercise1.csproj.nuget.dgspec.json
CodeExercise1/obj/CodeExercise1.csproj.nuget.g.props
CodeExercise1/obj/CodeExercise1.csproj.nuget.g.targets
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.AssemblyInfo.cs
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.AssemblyInfoInputs.cache
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.assets.cache
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.csproj.FileListAbsolute.txt
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.csprojAssemblyReference.cache
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.dll
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.exe
CodeExercise1/obj/Debug/netcoreapp3.0/CodeExercise1.pdb
CodeExercise1/obj/project.assets.json
CodeExercise2/obj/CodeExercise2.csproj.nuget.cache
CodeExercise2/obj/CodeExercise2.csproj.nuget.dgspec.json
CodeExercise2/obj/CodeExercise2.csproj.nuget.g.props
CodeExercise2/obj/CodeExercise2.csproj.nuget.g.targets
CodeExercise2/obj/project.assets.json
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.AssemblyInfo.cs
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.AssemblyInfoInputs.cache
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.assets.cache
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.csproj.FileListAbsolute.txt
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.csprojAssemblyReference.cache
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.dll
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.exe
CodeExercise2/obj/Debug/netcoreapp3.0/CodeExercise2.pdb
CodeExercise3/bin/Debug/netcoreapp3.0/CodeExercise3.deps.json
CodeExercise3/bin/Debug/netcoreapp3.0/CodeExercise3.dll
CodeExercise3/bin/Debug/netcoreapp3.0/CodeExercise3.exe
CodeExercise3/bin/Debug/netcoreapp3.0/CodeExercise3.pdb
CodeExercise3/bin/Debug/netcoreapp3.0/CodeExercise3.runtimeconfig.dev.json
CodeExercise3/bin/Debug/netcoreapp3.0/CodeExercise3.runtimeconfig.json
CodeExercise3/obj/CodeExercise3.csproj.nuget.cache
CodeExercise3/obj/CodeExercise3.csproj.nuget.dgspec.json
CodeExercise3/obj/CodeExercise3.csproj.nuget.g.props
CodeExercise3/obj/CodeExercise3.csproj.nuget.g.targets
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.AssemblyInfo.cs
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.AssemblyInfoInputs.cache
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.assets.cache
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.csproj.FileListAbsolute.txt
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.csprojAssemblyReference.cache
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.dll
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.exe
CodeExercise3/obj/Debug/netcoreapp3.0/CodeExercise3.pdb
CodeExercise3/obj/project.assets.json
CodeExercise2/bin/Debug/netcoreapp3.0/CodeExercise2.deps.json
CodeExercise2/bin/Debug/netcoreapp3.0/CodeExercise2.dll
CodeExercise2/bin/Debug/netcoreapp3.0/CodeExercise2.exe
CodeExercise2/bin/Debug/netcoreapp3.0/CodeExercise2.pdb
CodeExercise2/bin/Debug/netcoreapp3.0/CodeExercise2.runtimeconfig.dev.json
CodeExercise2/bin/Debug/netcoreapp3.0/CodeExercise2.runtimeconfig.json
